body {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f4f7ff;
}

/* Navbar with Gradient */
.navbar {
    background: linear-gradient(to right, #3949ab, #7e57c2, #ba68c8);
    display: flex;
    align-items: center;
    padding: 10px 40px;
    height: 70px;
}

.logo img {
    height: 40px;
    background: white; /* Logo inside a white box as per image */
    padding: 5px 15px;
    border-radius: 4px;
}

.nav-links {
    list-style: none;
    display: flex;
    margin-left: 40px;
    gap: 20px;
}

.nav-links li a {
    color: white;
    text-decoration: none;
    font-size: 0.95rem;
    font-weight: 500;
    transition: 0.2s;
}

/* Yellow Highlight for Active Page */
.nav-links a.active {
    color: #ffd700 !important; 
    text-decoration: underline !important;
    text-underline-offset: 5px;
    font-weight: bold;
}

.nav-links a:hover {
    color: #ffd700;
}

/* Toolbar Styling */
.toolbar {
    padding: 15px 40px;
    display: flex;
    align-items: center;
    background-color: #d1e3ff; 
}
.main-container {
    display: flex;
    justify-content: center;
    padding-top: 40px;
}

.task-card {
    background: white;
    width: 400px;
    border-radius: 10px;
    padding-bottom: 50px;
    box-shadow: 0 10px 30px rgba(0,0,0,0.1);
    overflow: hidden;
}

.blue-header {
    background-color: #5d78ff;
    color: white;
    text-align: center;
    font-size: 22px;
    font-weight: bold;
    padding: 15px;
    margin: 25px;
    border-radius: 20px;
}

.form-content {
    padding: 0 80px;
}

.green-company-bar {
    background-color: #44c330;
    color: white;
    text-align: center;
    padding: 15px;
    border-radius: 15px;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 30px;
}

/* Input Fields */
.input-row {
    margin-bottom: 15px;
}

.input-row label {
    display: block;
    font-size: 13px;
    color: #333;
    margin-bottom: 5px;
    font-weight: bold;
}

.grey-input {
    width: 250px;
    padding: 10px 20px;
    background-color: #e0e0e0;
    border: none;
    border-radius: 10px;
    font-size: 15px;
    text-align: center;
}

.btn-center {
    margin-top: 30px;
}

.create-btn {
    background-color: #5d78ff;
    color: white;
    border: none;
    padding: 10px 40px;
    font-size: 18px;
    font-weight: bold;
    border-radius: 15px;
    cursor: pointer;
}